<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registros</servlet-name>
        <servlet-class>servlets.Registros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicio</servlet-name>
        <servlet-class>servlets.ServletInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Formularios</servlet-name>
        <servlet-class>servlets.Formularios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlets.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministracionUsuarios</servlet-name>
        <servlet-class>servlets.AdministracionUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarios</servlet-name>
        <servlet-class>servlets.ModificarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicioWeb</servlet-name>
        <servlet-class>servlets.ServletInicioWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registros</servlet-name>
        <url-pattern>/Registros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logins</servlet-name>
        <url-pattern>/usuario/Logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logins</servlet-name>
        <url-pattern>/Logins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicio</servlet-name>
        <url-pattern>/ServletInicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Formularios</servlet-name>
        <url-pattern>/html/Formularios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/usuario/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministracionUsuarios</servlet-name>
        <url-pattern>/AdministracionUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarios</servlet-name>
        <url-pattern>/ModificarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicioWeb</servlet-name>
        <url-pattern>/ServletInicioWeb</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
